/vendor
/node_modules
/.env
/.idea
/.vscode
/public/build
/storage/*.key
Homestead.yaml
Homestead.json
.env.*
/.phpunit.result.cache
/.php_cs.cache
/public/hot
/.DS_Store
Thumbs.db
npm-debug.log*
yarn-debug.log*
yarn-error.log*
